
/* Optional: Add custom scrollbar hiding globally */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* In your App.css */
:root {
  --icon-filter: brightness(0);
  --active-icon-filter: brightness(0) invert(1);
}

[data-theme="dark"] {
  --icon-filter: brightness(0) invert(1);
}